/*commonly shared elements*/

.worktitles, nav, .notfound, p, h2, a, h3{
text-align: center;
color: white
}

/*class for 404 error message number*/

.notfound {
color: white;
font-size:100px;
font-family: Jazz LET, fantasy	;
margin-top: 100px;
margin-bottom: 100px;
background-color: black;
width: 70%;
height: auto;
margin: auto;
margin-top: -8px;
padding-top: 10px;
padding-bottom: 10px;
}

/*for image sizing*/

img {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*style for nav*/

nav {
background-color: black;
font-size: 20px;
width: 100%;
height: auto;
overflow: auto;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: -10px
}

nav a {
  width: 25%;
  height: auto;
  float: left
}

/*make nav not look like links*/

a {
  text-decoration: none;
}

/*coloring for nav*/
a:link {
  color: red
}
a:visited{
 color: red
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

/*style for list of apps made and icons*/

.worktitles {
font-size:40px;
font: bold
}

/*styling for the head of every page*/

.projectheader {
background-color: rgb(41,35,65);
width: 70%;
height: auto;
margin: auto;
margin-top: -8px;
font-size:70px;
padding-top: 10px;
padding-bottom: 10px;
}

/*for secret lettering*/

.secret {
  font-size: 10px
}

/*up the h3 size*/

h3 {
  font-size: 50px
}

/*body background color*/

body {
  background-image: url("images/pagebackground.jpg");
  background-size: cover
}

main {
  background-color: black;
  width: 70%;
  height: auto;
  margin: auto
}

/*list color*/

li {
  color: white
}

/*styling for footer*/

footer {
background-color: black;
margin-bottom: -16px;
margin-top: -17px
}

/*style for links for projects*/

.projectlinks {
  text-align: center
}

h1 {
  color: white;
  text-align: center
}

/*logo styling*/

.logo {
  width: 5%;
  height: auto;
  display: inline-block;
  margin: auto;
}